@media (min-width:1200px){
  .rowMy{
    max-width: 1200px;
  }
  .rowx{
    width: 100vw;
  }

  .wrapperMenu{
    position: fixed;
    top: 0;
    background-color: black;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    z-index: 5;
  }
  .sectionMenu{
    width: 1200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sectionMenu a{
    color: white;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  .sectionMenu a:hover{
    color: white;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  .sectionMenu a:visited{
    color: white;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  .sectionMenu a:active{
    color: black;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  .headSection h1{
    font-size: 72px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: white;
  }
  .headSection p{
    weight: 500;
    font-size: 24px;
    line-height: 3;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  #whoMain{
    font-size: 26px;
    line-height: 1.35;
  }
  #whoSide{
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.35;
    font-weight: 300;
  }
  .wrapperBlack{
    padding: 150px 0px;
    background-color: black;
    display: flex;
    justify-content: center;
  }
  .wrapperBlack h1{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 64px;
    line-height: 1.23;
    font-weight: 700;
  }
  .wrapperBlack h2{
    margin: -70px 0px;
    width: 560px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.55;
    color: white;
    text-align: center;
  }
  .resultsCard{
    width: 260px;
  }
  .resultsCard p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
  .commentsBlock{
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .sectionScreenings{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
  }
  .sectionScreeningsImage{
    width: 40%;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
    padding-right: 15px;
  }
  .mobileScreening{
    display: none;
  }
  .mobileGallery{
    display: none;
  }
  .screeningsText{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
  }
  .commentsBlock_text{
    width: 70%;
  }
  .commentsBlock_author {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
  }
  .commentsBlock_text p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
  }
  .sectionFooter p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    text-align: center;
  }
  .sectionGallery{
    padding: 100px 0px;
    max-width: 1024px;
    display: flex;
    justify-content: center;
  }

  .sliderElement{
    width: 200px;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-color: #fff;
  }
  .sliderElement img{
    width: 1024px;
    height: 700px;
  }
}
