@media (max-width:600px){

  .rowMy{
    flex-wrap: wrap;
    max-width: 90%;
  }
  .rowx{
    flex-wrap: wrap;
    max-width: 90%;
  }
  .sectionMenu a{
    color: white;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }
  .sectionMenu a:hover{
    color: white;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  .sectionMenu a:visited{
    color: white;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  .sectionMenu a:active{
    color: black;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  .headSection h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: white;
  }
  .headSection p{
    weight: 500;
    font-size: 18px;
    line-height: 3;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  .carousel{
    display: none;
  }
  .mobileGallery{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobileGallery img{
    margin: 0 auto;
    width: 90%;
    padding-bottom: 40px;
  }
  #whoMain{
    font-size: 18px;
  }
  #whoMain{
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 16px;
  }
  .wrapperBlack{
    padding: 50px 0px;
    background-color: black;
    display: flex;
    justify-content: center;
  }
  .wrapperBlack h1{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 40px;
    line-height: 1.23;
    font-weight: 700;
  }
  .wrapperBlack h2{
    padding: 0 20px;
    width: 560px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.55;
    color: white;
    text-align: center;
  }
  .resultsCard{
    width: 100%;
    margin-bottom: 80px;
  }
  .resultsCard p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  .sectionScreenings{
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0px;
  }
  .sectionScreeningsImage{
    width: 100%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 15px;
  }
  .screeningsText{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .commentsBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .commentsBlock_text{
    width: 100%;
  }
  .commentsBlock_author {
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .commentsBlock_text p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
  }
  .sectionFooter p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    text-align: center;
  }
  .sectionGallery{
    padding: 100px 0px;
    max-width: 300px;
    display: flex;
    justify-content: center;
  }

  .sliderElement{
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
  }
  .sliderElement img{
    width: 300px;
    height: 300px;
  }
}
