@media (max-width:600px){

  .rowMy{
    flex-wrap: wrap;
    max-width: 90%;
  }
  .rowx{
    flex-wrap: wrap;
    max-width: 90%;
  }
  .headSection h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: white;
  }
  .headSection p{
    weight: 500;
    font-size: 18px;
    line-height: 3;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  #whoMain{
    font-size: 18px;
  }
  #whoMain{
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 16px;
  }
  .resultsCard{
    width: 100%;
    margin-bottom: 80px;
  }
  .resultsCard p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  .sectionScreenings{
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0px;
  }
  .sectionScreeningsImage{
    width: 100%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 15px;
  }
  .screeningsText{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .commentsBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .commentsBlock_text{
    width: 100%;
  }
  .commentsBlock_author {
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .commentsBlock_text p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
  }
  .sectionFooter p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    text-align: center;
  }
}
