/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'andale';
  src: url("fonts/andalemo_0-webfont.woff2") format("woff2"), url("fonts/andalemo_0-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@-webkit-keyframes bgChange {
  0% {
    background-color: black;
    color: white; }
  100% {
    border: solid 2px white;
    background-color: white;
    color: black; } }

@keyframes bgChange {
  0% {
    background-color: black;
    color: white; }
  100% {
    border: solid 2px white;
    background-color: white;
    color: black; } }

@media (min-width: 1440px) {
  body {
    overflow-x: hidden; }
  .mainWrapperDesktop {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 100vw;
    height: 100vh;
    position: relative; }
  #pochta {
    width: 100%;
    text-align: center;
    font-family: 'PT Mono';
    margin-top: 10px; }
  .bgHolder {
    width: 40vw;
    height: 100%;
    background-color: #22242B;
    position: absolute;
    z-index: -2; }
  .bgWhiten {
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    z-index: -3; }
  .rowXHead {
    margin: auto;
    width: 1280px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .rowXHead #focus {
      height: 100vh;
      position: absolute;
      z-index: -1; }
    .rowXHead #focusTab {
      display: none; }
    .rowXHead #videoBG {
      left: 20%;
      height: 100vh;
      position: absolute;
      z-index: -4; }
    .rowXHead #videoHolder {
      display: none;
      left: 40%;
      width: 60%;
      height: 100vh;
      position: absolute;
      z-index: -3; }
  #cameraMobile {
    display: none; }
  .infoSection {
    width: 400px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .infoSection #camera {
      top: 50%;
      -webkit-transform: translateY(-2%);
      -ms-transform: translateY(-2%);
      transform: translateY(-2%);
      width: 400px; }
  .logo {
    padding-top: 50px; }
    .logo h1 {
      font-size: 100pt;
      color: white;
      font-family: 'PT Mono';
      margin-top: 5px; }
    .logo h2 {
      font-size: 12pt;
      color: white;
      font-family: 'PT Mono'; }
  .links {
    padding-bottom: 50px; }
    .links span {
      font-family: 'PT Mono';
      font-size: 20pt;
      text-decoration: underline;
      color: white;
      padding: 0px 15px;
      line-height: 30pt;
      margin-bottom: 20px; }
      .links span:hover {
        text-decoration: none; }
      .links span a {
        color: white; }
        .links span a:hover {
          text-decoration: none; }
        .links span a:visited {
          color: white; }
  .linksMobile {
    display: none; }
  .inFuture {
    position: relative;
    height: 100vh;
    width: 500px;
    margin-left: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    font-family: 'PT Mono'; }
    .inFuture h3 {
      font-size: 16pt;
      margin-top: 10px; }
    .inFuture h2 {
      font-size: 18pt;
      margin-bottom: 10px; }
    .inFuture h1 {
      font-size: 36pt;
      margin-top: 10px;
      margin-bottom: 5px; }
    .inFuture p {
      margin-top: 10px;
      font-size: 12pt;
      line-height: 15pt; }
    .inFuture .inFutureDates {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 10px; }
      .inFuture .inFutureDates span {
        font-size: 24pt; }
    .inFuture .inFutureButtons {
      width: 67%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 20px; }
      .inFuture .inFutureButtons a {
        text-decoration: none; }
      .inFuture .inFutureButtons div {
        padding: 10px 20px;
        border: 2px solid #22242B;
        border-radius: 100px;
        color: white;
        background-color: #22242B; }
        .inFuture .inFutureButtons div:hover {
          -webkit-animation-name: bgChange;
          animation-name: bgChange;
          -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .aboutUs {
    width: 100vw; }
  .rowX {
    width: 1280px;
    margin: 0 auto; }
  #caption {
    font-size: 12pt;
    margin-bottom: 0px; }
  .whoIs {
    margin-top: 100px;
    margin-bottom: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .whoIs h2 {
      display: inline;
      padding: 5px 20px;
      font-size: 22pt;
      background-color: #22242B;
      color: white;
      font-family: 'PT Sans';
      -webkit-transform: translateY(70%);
      -ms-transform: translateY(70%);
      transform: translateY(70%); }
    .whoIs .whoIsBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-top: 2px solid #22242B;
      border-bottom: 2px solid #22242B;
      padding: 50px 0px;
      width: 70%; }
      .whoIs .whoIsBlock p {
        font-family: 'PT Sans';
        font-size: 14pt;
        text-align: center;
        line-height: 1.3;
        margin-bottom: 30px; }
        .whoIs .whoIsBlock p span {
          font-size: 16pt; }
  .wrapperBlack {
    width: 100vw;
    background-color: #22242B; }
  .heading {
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .heading h1 {
      display: inline;
      font-size: 48pt;
      font-family: 'PT Mono';
      color: white;
      margin: 0 auto; }
    .heading h2 {
      width: 40%;
      display: inline;
      font-size: 14pt;
      font-family: 'PT Mono';
      color: white;
      margin: 0 auto;
      text-align: center; }
  .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 120px 0 170px 0; }
    .results .resultsCard {
      width: 22%; }
      .results .resultsCard h1 {
        font-family: 'PT Mono';
        font-size: 28pt; }
      .results .resultsCard .lineBlack {
        margin: 20px 0px;
        border-top: 2px solid #22242B; }
      .results .resultsCard p {
        font-size: 12pt;
        line-height: 1.3;
        font-family: 'PT Mono'; }
  .sliderShowsMobile {
    display: none; }
  .sliderShowsDesktop {
    padding: 40px 0 150px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .sliderShowsDesktop #showsSlider #sliderItem {
      width: 80%;
      margin: auto;
      font-family: 'PT Mono';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .sliderShowsDesktop #showsSlider #sliderItem .sliderText {
        width: 40%; }
        .sliderShowsDesktop #showsSlider #sliderItem .sliderText h1 {
          font-size: 18pt;
          margin-bottom: 30px;
          line-height: 1.2; }
        .sliderShowsDesktop #showsSlider #sliderItem .sliderText p {
          font-size: 12pt;
          margin-bottom: 15px;
          line-height: 1.3; }
        .sliderShowsDesktop #showsSlider #sliderItem .sliderText div {
          font-size: 12pt;
          margin-top: 50px; }
          .sliderShowsDesktop #showsSlider #sliderItem .sliderText div a {
            text-decoration: none;
            color: orange; }
            .sliderShowsDesktop #showsSlider #sliderItem .sliderText div a:hover {
              color: orange; }
            .sliderShowsDesktop #showsSlider #sliderItem .sliderText div a:visited {
              color: orange; }
      .sliderShowsDesktop #showsSlider #sliderItem .sliderImage {
        height: 800px;
        width: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
      .sliderShowsDesktop #showsSlider #sliderItem #sonMu {
        background-image: url(../img/slider/sonMu.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #work {
        background-image: url(../img/slider/work.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #doneck {
        background-image: url(../img/slider/doneck.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #perm {
        background-image: url(../img/slider/perm.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #tears {
        background-image: url(../img/slider/tears.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #power {
        background-image: url(../img/slider/power.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #war {
        background-image: url(../img/slider/war.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #dreamers {
        background-image: url(../img/slider/dreamers.jpg); }
  .comments {
    padding: 50px 0;
    width: 1280px; }
    .comments .commentBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 70%;
      margin: 40px auto 100px auto; }
      .comments .commentBlock .commentSection {
        width: 800px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 40px; }
        .comments .commentBlock .commentSection .commentText {
          width: 80%; }
          .comments .commentBlock .commentSection .commentText p {
            font-family: 'PT Mono';
            font-size: 14pt;
            line-height: 1.35; }
        .comments .commentBlock .commentSection .commentAuthor {
          font-family: 'PT Mono';
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column;
          flex-flow: column; }
          .comments .commentBlock .commentSection .commentAuthor img {
            width: 100px;
            height: 100px;
            border: 1px solid transparent;
            border-radius: 100%; }
          .comments .commentBlock .commentSection .commentAuthor h1 {
            margin-top: 20px;
            font-size: 14pt; }
          .comments .commentBlock .commentSection .commentAuthor h2 {
            font-size: 10pt; }
  .linkBottom {
    width: 20%;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .linkBottom a {
      color: black;
      text-decoration: underline; }
      .linkBottom a:active {
        color: black;
        text-decoration: none; } }

@font-face {
  font-family: 'andale';
  src: url("fonts/andalemo_0-webfont.woff2") format("woff2"), url("fonts/andalemo_0-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes bgChange {
  0% {
    background-color: black;
    color: white; }
  100% {
    border: solid 2px white;
    background-color: white;
    color: black; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    overflow-x: hidden; }
  .mainWrapperDesktop {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 100vw;
    height: 100vh;
    position: relative; }
  #pochta {
    width: 100%;
    text-align: center;
    font-family: 'PT Mono';
    margin-top: 10px; }
  .bgHolder {
    width: 40vw;
    height: 100%;
    background-color: #22242B;
    position: absolute;
    z-index: -2; }
  .bgWhiten {
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    z-index: -3; }
  .rowXHead {
    margin: auto;
    width: 1280px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .rowXHead #focus {
      height: 100vh;
      position: absolute;
      z-index: -1; }
    .rowXHead #focusTab {
      display: none; }
    .rowXHead #videoBG {
      left: 20%;
      height: 100vh;
      position: absolute;
      z-index: -4; }
    .rowXHead #videoHolder {
      display: none;
      left: 40%;
      width: 60%;
      height: 100vh;
      position: absolute;
      z-index: -3; }
  #cameraMobile {
    display: none; }
  .infoSection {
    width: 400px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .infoSection #camera {
      top: 50%;
      -webkit-transform: translateY(-2%);
      -ms-transform: translateY(-2%);
      transform: translateY(-2%);
      width: 400px; }
  .logo {
    padding-top: 50px; }
    .logo h1 {
      font-size: 100pt;
      color: white;
      font-family: 'PT Mono';
      margin-top: 5px; }
    .logo h2 {
      font-size: 12pt;
      color: white;
      font-family: 'PT Mono'; }
  .links {
    padding-bottom: 50px; }
    .links span {
      font-family: 'PT Mono';
      font-size: 20pt;
      text-decoration: underline;
      color: white;
      padding: 0px 15px;
      line-height: 30pt;
      margin-bottom: 20px; }
      .links span:hover {
        text-decoration: none; }
      .links span a {
        color: white; }
        .links span a:hover {
          text-decoration: none; }
        .links span a:visited {
          color: white; }
  .linksMobile {
    display: none; }
  .inFuture {
    position: relative;
    height: 100vh;
    width: 450px;
    margin-left: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    font-family: 'PT Mono'; }
    .inFuture h3 {
      font-size: 16pt;
      margin-top: 10px; }
    .inFuture h2 {
      font-size: 18pt;
      margin-bottom: 10px; }
    .inFuture h1 {
      font-size: 36pt;
      margin-top: 10px;
      margin-bottom: 5px; }
    .inFuture p {
      margin-top: 10px;
      font-size: 12pt;
      line-height: 15pt; }
    .inFuture .inFutureDates {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 10px; }
      .inFuture .inFutureDates span {
        font-size: 24pt; }
    .inFuture .inFutureButtons {
      width: 67%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 20px; }
      .inFuture .inFutureButtons a {
        text-decoration: none; }
      .inFuture .inFutureButtons div {
        padding: 10px 20px;
        border: 2px solid #22242B;
        border-radius: 100px;
        color: white;
        background-color: #22242B; }
        .inFuture .inFutureButtons div:hover {
          -webkit-animation-name: bgChange;
          animation-name: bgChange;
          -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .aboutUs {
    width: 100vw; }
  .rowX {
    width: 1000px;
    margin: 0 auto; }
  #caption {
    font-size: 12pt;
    margin-bottom: 0px; }
  .whoIs {
    margin-top: 100px;
    margin-bottom: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .whoIs h2 {
      display: inline;
      padding: 5px 20px;
      font-size: 22pt;
      background-color: #22242B;
      color: white;
      font-family: 'PT Sans';
      -webkit-transform: translateY(70%);
      -ms-transform: translateY(70%);
      transform: translateY(70%); }
    .whoIs .whoIsBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-top: 2px solid #22242B;
      border-bottom: 2px solid #22242B;
      padding: 50px 0px;
      width: 70%; }
      .whoIs .whoIsBlock p {
        font-family: 'PT Sans';
        font-size: 14pt;
        text-align: center;
        line-height: 1.3;
        margin-bottom: 30px; }
        .whoIs .whoIsBlock p span {
          font-size: 16pt; }
  .wrapperBlack {
    width: 100vw;
    background-color: #22242B; }
  .heading {
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .heading h1 {
      display: inline;
      font-size: 48pt;
      font-family: 'PT Mono';
      color: white;
      margin: 0 auto; }
    .heading h2 {
      width: 40%;
      display: inline;
      font-size: 14pt;
      font-family: 'PT Mono';
      color: white;
      margin: 0 auto;
      text-align: center; }
  .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 120px 0 170px 0; }
    .results .resultsCard {
      width: 22%; }
      .results .resultsCard h1 {
        font-family: 'PT Mono';
        font-size: 20pt; }
      .results .resultsCard .lineBlack {
        margin: 20px 0px;
        border-top: 2px solid #22242B; }
      .results .resultsCard p {
        font-size: 12pt;
        line-height: 1.3;
        font-family: 'PT Mono'; }
  .sliderShowsMobile {
    display: none; }
  .sliderShowsDesktop {
    padding: 40px 0 150px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .sliderShowsDesktop #showsSlider #sliderItem {
      width: 80%;
      margin: auto;
      font-family: 'PT Mono';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .sliderShowsDesktop #showsSlider #sliderItem .sliderText {
        width: 40%; }
        .sliderShowsDesktop #showsSlider #sliderItem .sliderText h1 {
          font-size: 18pt;
          margin-bottom: 30px;
          line-height: 1.2; }
        .sliderShowsDesktop #showsSlider #sliderItem .sliderText p {
          font-size: 12pt;
          margin-bottom: 15px;
          line-height: 1.3; }
        .sliderShowsDesktop #showsSlider #sliderItem .sliderText div {
          font-size: 12pt;
          margin-top: 50px; }
          .sliderShowsDesktop #showsSlider #sliderItem .sliderText div a {
            text-decoration: none;
            color: orange; }
            .sliderShowsDesktop #showsSlider #sliderItem .sliderText div a:hover {
              color: orange; }
            .sliderShowsDesktop #showsSlider #sliderItem .sliderText div a:visited {
              color: orange; }
      .sliderShowsDesktop #showsSlider #sliderItem .sliderImage {
        height: 800px;
        width: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
      .sliderShowsDesktop #showsSlider #sliderItem #sonMu {
        background-image: url(../img/slider/sonMu.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #work {
        background-image: url(../img/slider/work.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #doneck {
        background-image: url(../img/slider/doneck.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #perm {
        background-image: url(../img/slider/perm.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #tears {
        background-image: url(../img/slider/tears.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #power {
        background-image: url(../img/slider/power.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #war {
        background-image: url(../img/slider/war.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #dreamers {
        background-image: url(../img/slider/dreamers.jpg); }
  .comments {
    padding: 50px 0;
    width: 1000px; }
    .comments .commentBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 90%;
      margin: 40px auto 100px auto; }
      .comments .commentBlock .commentSection {
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 40px; }
        .comments .commentBlock .commentSection .commentText {
          width: 80%; }
          .comments .commentBlock .commentSection .commentText p {
            font-family: 'PT Mono';
            font-size: 14pt;
            line-height: 1.35; }
        .comments .commentBlock .commentSection .commentAuthor {
          font-family: 'PT Mono';
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column;
          flex-flow: column; }
          .comments .commentBlock .commentSection .commentAuthor img {
            width: 100px;
            height: 100px;
            border: 1px solid transparent;
            border-radius: 100%; }
          .comments .commentBlock .commentSection .commentAuthor h1 {
            margin-top: 20px;
            font-size: 14pt; }
          .comments .commentBlock .commentSection .commentAuthor h2 {
            font-size: 10pt; }
  .linkBottom {
    width: 30%;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .linkBottom a {
      color: black;
      text-decoration: underline; }
      .linkBottom a:active {
        color: black;
        text-decoration: none; } }

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    overflow-x: hidden; }
  #pochta {
    width: 100%;
    text-align: center;
    font-family: 'PT Mono';
    margin-top: 10px; }
  #focus {
    display: none; }
  #camera {
    display: none; }
  .links {
    display: none; }
  #videoBG {
    display: none;
    position: absolute;
    top: 40%;
    width: 100vw;
    height: 110vh;
    z-index: -3; }
  #videoHolder {
    position: absolute;
    background-image: url(../img/bg.png);
    background-size: cover;
    top: 40%;
    width: 100vw;
    height: 110vh;
    z-index: -3; }
  .bgWhiten {
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 40%;
    width: 100vw;
    height: 110vh;
    z-index: -2; }
  #focus {
    display: none; }
  #focusTab {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1000px; }
  #cameraMobile {
    position: absolute;
    width: 110px;
    right: 50%;
    top: 350px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%); }
  .infoSection {
    height: 50vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    .infoSection .logo h1 {
      font-family: 'PT Mono';
      font-size: 100pt;
      color: white; }
    .infoSection .logo h2 {
      font-family: 'PT Mono';
      font-size: 12pt;
      color: white;
      padding-top: 30px; }
    .infoSection .logo .linksMobile {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 10px; }
      .infoSection .logo .linksMobile span {
        font-family: 'PT Mono';
        font-size: 20pt;
        text-decoration: underline;
        color: white;
        padding: 5px 15px;
        line-height: 30pt; }
        .infoSection .logo .linksMobile span:hover {
          text-decoration: none; }
        .infoSection .logo .linksMobile span a {
          color: white; }
          .infoSection .logo .linksMobile span a:hover {
            text-decoration: none; }
          .infoSection .logo .linksMobile span a:visited {
            color: white; }
  .inFuture {
    margin: 50% auto 20% auto;
    width: 60vw;
    font-family: 'PT Mono'; }
    .inFuture h2 {
      font-size: 18pt; }
    .inFuture h1 {
      margin-top: 10px;
      font-size: 36pt;
      margin-bottom: 5px; }
    .inFuture p {
      margin-top: 20px;
      font-size: 14pt; }
    .inFuture h3 {
      margin-top: 10px;
      font-size: 16pt; }
    .inFuture .inFutureDates {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 20px; }
      .inFuture .inFutureDates span {
        font-size: 22pt; }
    .inFuture .inFutureButtons {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 40px; }
      .inFuture .inFutureButtons a {
        text-decoration: none; }
      .inFuture .inFutureButtons div {
        font-size: 16pt;
        padding: 20px 40px;
        border: 3px solid #22242B;
        border-radius: 100px;
        color: white;
        background-color: #22242B; }
        .inFuture .inFutureButtons div:active {
          background-color: white;
          color: black; }
  .aboutUs {
    width: 100vw; }
  .rowX {
    width: 100vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #caption {
    font-size: 14pt;
    margin-bottom: 0px; }
  .whoIs {
    margin-top: 100px;
    margin-bottom: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .whoIs h2 {
      display: inline;
      padding: 5px 20px;
      font-size: 22pt;
      background-color: #22242B;
      color: white;
      font-family: 'PT Sans';
      -webkit-transform: translateY(70%);
      -ms-transform: translateY(70%);
      transform: translateY(70%); }
    .whoIs .whoIsBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-top: 2px solid #22242B;
      border-bottom: 2px solid #22242B;
      padding: 50px 0px;
      width: 70%; }
      .whoIs .whoIsBlock p {
        font-family: 'PT Sans';
        font-size: 16pt;
        text-align: center;
        line-height: 1.3;
        margin-bottom: 30px; }
        .whoIs .whoIsBlock p span {
          font-size: 18pt; }
  .wrapperBlack {
    width: 100vw;
    background-color: #22242B; }
  .heading {
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .heading h1 {
      display: inline;
      font-size: 48pt;
      font-family: 'PT Mono';
      color: white;
      margin: 0 auto; }
    .heading h2 {
      width: 40%;
      display: inline;
      font-size: 14pt;
      line-height: 1.3;
      font-family: 'PT Mono';
      color: white;
      margin: 0 auto;
      text-align: center; }
  .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80%;
    padding: 20px 0 70px 0; }
    .results .resultsCard {
      margin-top: 40px;
      width: 45%; }
      .results .resultsCard h1 {
        font-family: 'PT Mono';
        font-size: 22pt; }
      .results .resultsCard .lineBlack {
        margin: 20px 0px;
        border-top: 2px solid #22242B; }
      .results .resultsCard p {
        font-size: 12pt;
        line-height: 1.3;
        font-family: 'PT Mono'; }
  .sliderShowsMobile {
    display: none; }
  .sliderShowsDesktop {
    padding: 40px 0 150px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .sliderShowsDesktop #showsSlider #sliderItem {
      width: 80%;
      margin: auto;
      font-family: 'PT Mono';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .sliderShowsDesktop #showsSlider #sliderItem .sliderText {
        width: 40%; }
        .sliderShowsDesktop #showsSlider #sliderItem .sliderText h1 {
          font-size: 14pt;
          margin-bottom: 10px;
          line-height: 1.2; }
        .sliderShowsDesktop #showsSlider #sliderItem .sliderText p {
          font-size: 12pt;
          margin-bottom: 15px;
          line-height: 1.3; }
        .sliderShowsDesktop #showsSlider #sliderItem .sliderText div {
          font-size: 12pt;
          margin-top: 30px; }
          .sliderShowsDesktop #showsSlider #sliderItem .sliderText div a {
            text-decoration: none;
            color: orange; }
            .sliderShowsDesktop #showsSlider #sliderItem .sliderText div a:hover {
              color: orange; }
            .sliderShowsDesktop #showsSlider #sliderItem .sliderText div a:visited {
              color: orange; }
      .sliderShowsDesktop #showsSlider #sliderItem .sliderImage {
        height: 800px;
        width: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
      .sliderShowsDesktop #showsSlider #sliderItem #sonMu {
        background-image: url(../img/slider/sonMu.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #work {
        background-image: url(../img/slider/work.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #doneck {
        background-image: url(../img/slider/doneck.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #perm {
        background-image: url(../img/slider/perm.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #tears {
        background-image: url(../img/slider/tears.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #power {
        background-image: url(../img/slider/power.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #war {
        background-image: url(../img/slider/war.jpg); }
      .sliderShowsDesktop #showsSlider #sliderItem #dreamers {
        background-image: url(../img/slider/dreamers.jpg); }
  .comments {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    .comments .commentBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 40px auto 100px auto;
      width: 80%; }
      .comments .commentBlock .commentSection {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 40px; }
        .comments .commentBlock .commentSection .commentText {
          width: 75%; }
          .comments .commentBlock .commentSection .commentText p {
            font-family: 'PT Mono';
            font-size: 14pt;
            line-height: 1.35; }
        .comments .commentBlock .commentSection .commentAuthor {
          font-family: 'PT Mono';
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column;
          flex-flow: column; }
          .comments .commentBlock .commentSection .commentAuthor img {
            width: 100px;
            height: 100px;
            border: 1px solid transparent;
            border-radius: 100%; }
          .comments .commentBlock .commentSection .commentAuthor h1 {
            margin-top: 20px;
            font-size: 12pt; }
          .comments .commentBlock .commentSection .commentAuthor h2 {
            font-size: 10pt; }
  .linkBottom {
    width: 40%;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .linkBottom a {
      color: black;
      text-decoration: underline; }
      .linkBottom a:active {
        color: black;
        text-decoration: none; } }

@media (max-width: 767px) {
  body {
    overflow-x: hidden; }
  .mainWrapperDesktop {
    height: 1300px; }
  #focus {
    display: none; }
  .links {
    display: none; }
  #camera {
    display: none; }
  #videoBG {
    display: none; }
  #cameraMobile {
    position: absolute;
    width: 20%;
    right: 50%;
    top: 240px;
    -webkit-transform: translateX(45%);
    -ms-transform: translateX(45%);
    transform: translateX(45%); }
  #focusTab {
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: -1; }
  #videoHolder {
    background-image: url(../img/bg.png);
    position: absolute;
    top: 40%;
    width: 100vw;
    height: 1170px;
    z-index: -3;
    background-size: cover;
    background-position: center; }
  #pochta {
    width: 100%;
    text-align: center;
    font-family: 'PT Mono';
    margin-top: 20px;
    font-size: 12pt; }
  .bgWhiten {
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 40%;
    width: 100vw;
    height: 1170px;
    z-index: -2; }
  .infoSection {
    height: 50vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    .infoSection .logo {
      width: 90vw; }
      .infoSection .logo h1 {
        text-align: center;
        font-family: 'PT Mono';
        font-size: 70pt;
        color: white; }
      .infoSection .logo h2 {
        text-align: center;
        font-family: 'PT Mono';
        font-size: 8pt;
        color: white;
        padding-top: 30px; }
      .infoSection .logo .linksMobile {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 10px; }
        .infoSection .logo .linksMobile span {
          font-family: 'PT Mono';
          font-size: 16pt;
          text-decoration: underline;
          color: white;
          padding: 5px 15px;
          line-height: 30pt; }
          .infoSection .logo .linksMobile span:hover {
            text-decoration: none; }
          .infoSection .logo .linksMobile span a {
            color: white; }
            .infoSection .logo .linksMobile span a:hover {
              text-decoration: none; }
            .infoSection .logo .linksMobile span a:visited {
              color: white; }
  .inFuture {
    margin: 400px auto 20% auto;
    width: 80vw;
    font-family: 'PT Mono'; }
    .inFuture h2 {
      font-size: 14pt; }
    .inFuture h1 {
      margin-top: 30px;
      font-size: 20pt;
      margin-bottom: 10px; }
    .inFuture p {
      margin-top: 20px;
      font-size: 12pt; }
    .inFuture h3 {
      margin-top: 10px;
      font-size: 14pt; }
    .inFuture .inFutureDates {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 30px; }
      .inFuture .inFutureDates span {
        padding: 0 20px;
        font-size: 18pt; }
    .inFuture .inFutureButtons {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 40px; }
      .inFuture .inFutureButtons a {
        text-decoration: none; }
      .inFuture .inFutureButtons div {
        font-size: 10pt;
        padding: 5px 10px;
        border: 3px solid #22242B;
        border-radius: 100px;
        color: white;
        background-color: #22242B; }
        .inFuture .inFutureButtons div:active {
          background-color: white;
          color: black; }
  .aboutUs {
    width: 100vw; }
  .rowX {
    width: 100vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #caption {
    font-size: 10pt;
    margin-bottom: 0px; }
  .whoIs {
    margin-top: 100px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .whoIs h2 {
      display: inline;
      padding: 5px 20px;
      font-size: 14pt;
      background-color: #22242B;
      color: white;
      font-family: 'PT Mono';
      -webkit-transform: translateY(70%);
      -ms-transform: translateY(70%);
      transform: translateY(70%); }
    .whoIs .whoIsBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-top: 2px solid #22242B;
      border-bottom: 2px solid #22242B;
      padding: 30px 0px 20px 0px;
      width: 70%; }
      .whoIs .whoIsBlock p {
        font-family: 'PT Mono';
        font-size: 12pt;
        line-height: 1.3;
        margin-bottom: 10px; }
        .whoIs .whoIsBlock p span {
          font-size: 14pt; }
  .wrapperBlack {
    width: 100vw;
    background-color: #22242B; }
  .heading {
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .heading h1 {
      display: inline;
      font-size: 30pt;
      font-family: 'PT Mono';
      color: white;
      margin: 0 auto; }
    .heading h2 {
      width: 80%;
      display: inline;
      font-size: 12pt;
      font-family: 'PT Mono';
      color: white;
      margin: 0 auto;
      text-align: center; }
  .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 60px 0 40px 0; }
    .results .resultsCard {
      width: 60%;
      margin-bottom: 40px; }
      .results .resultsCard h1 {
        font-family: 'PT Mono';
        font-size: 18pt; }
      .results .resultsCard .lineBlack {
        margin: 5px 0px;
        border-top: 2px solid #22242B; }
      .results .resultsCard p {
        font-size: 10pt;
        line-height: 1.3;
        font-family: 'PT Mono'; }
  .sliderShowsDesktop {
    display: none; }
  .sliderShowsMobile {
    padding: 70px 0 150px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    .sliderShowsMobile .sliderItem {
      width: 80%;
      margin: 50px auto;
      font-family: 'PT Mono';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .sliderShowsMobile .sliderItem .sliderText {
        width: 100%; }
        .sliderShowsMobile .sliderItem .sliderText h1 {
          font-size: 16pt;
          margin-bottom: 10px;
          line-height: 1.2; }
        .sliderShowsMobile .sliderItem .sliderText h2 {
          font-size: 14pt;
          margin-bottom: 10px;
          line-height: 1.2; }
        .sliderShowsMobile .sliderItem .sliderText p {
          font-size: 12pt;
          margin-top: 10px;
          line-height: 1.3; }
        .sliderShowsMobile .sliderItem .sliderText div {
          font-size: 12pt;
          margin-top: 50px; }
          .sliderShowsMobile .sliderItem .sliderText div a {
            text-decoration: none;
            color: orange; }
            .sliderShowsMobile .sliderItem .sliderText div a:hover {
              color: orange; }
            .sliderShowsMobile .sliderItem .sliderText div a:visited {
              color: orange; }
      .sliderShowsMobile .sliderItem .sliderImage {
        height: 500px;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
      .sliderShowsMobile .sliderItem #sonMu {
        background-image: url(../img/slider/sonMu.jpg); }
      .sliderShowsMobile .sliderItem #work {
        background-image: url(../img/slider/work.jpg); }
      .sliderShowsMobile .sliderItem #doneck {
        background-image: url(../img/slider/doneck.jpg); }
      .sliderShowsMobile .sliderItem #perm {
        background-image: url(../img/slider/perm.jpg); }
      .sliderShowsMobile .sliderItem #tears {
        background-image: url(../img/slider/tears.jpg); }
      .sliderShowsMobile .sliderItem #power {
        background-image: url(../img/slider/power.jpg); }
      .sliderShowsMobile .sliderItem #war {
        background-image: url(../img/slider/war.jpg); }
      .sliderShowsMobile .sliderItem #dreamers {
        background-image: url(../img/slider/dreamers.jpg); }
  .comments {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    .comments .commentBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 90%;
      margin: 40px auto 100px auto; }
      .comments .commentBlock .commentSection {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 40px; }
        .comments .commentBlock .commentSection .commentText {
          width: 100%; }
          .comments .commentBlock .commentSection .commentText p {
            font-family: 'PT Mono';
            font-size: 12pt;
            line-height: 1.5; }
        .comments .commentBlock .commentSection .commentAuthor {
          margin-top: 40px;
          font-family: 'PT Mono';
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column;
          flex-flow: column; }
          .comments .commentBlock .commentSection .commentAuthor img {
            width: 100px;
            height: 100px;
            border: 1px solid transparent;
            border-radius: 100%; }
          .comments .commentBlock .commentSection .commentAuthor h1 {
            margin-top: 20px;
            font-size: 10pt; }
          .comments .commentBlock .commentSection .commentAuthor h2 {
            font-size: 8pt; }
  .linkBottom {
    width: 70%;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .linkBottom a {
      color: black;
      text-decoration: underline; }
      .linkBottom a:active {
        color: black;
        text-decoration: none; } }
