@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@import url("reset.css");
@import url("desktop-xl.css");
@import url("desktop.css");
@import url("tablet.css");
@import url("mobile.css");

body{
  overflow-x: hidden;
  max-width: 100vw;
}

.rowMy{
  display: flex;
  margin: 0 auto;
}
.rowx{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

/* Шапка */
.wrapperHead{
  height: 100vh;
  width: 100vw;
  background-image: url(../img/bgHead.jpg);
  background-size: cover;
}
.headSection{
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}
.headSection h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}
.headSection p{
  weight: 500;
  line-height: 3;
  font-family: 'Roboto', sans-serif;
  color: white;
}


/*Кто мы? */
.wrapperWhite{
  padding-top: 100px;
  padding-bottom: 100px;
}
.sectionWho{
  flex-direction: column;
  align-items: center;
}
.sectionWho h2{
  font-family: 'Roboto', sans-serif;
  padding: 10px 43px;
  background-color: black;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 16px;
  color: white;
  transform: translateY(70%);
}
.whoPar{
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
.whoPar p{
  font-family: 'Roboto', sans-serif;
}



/* Результаты года */
.wrapperResults{
  padding: 150px 0;
}
.sectionResults{
  justify-content: space-between;
}
.resultsCard h2{
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 700;
}
.lineBlack{
  width: 100%;
  height: 25px;
  border-bottom: 2px solid black;
  margin-bottom: 25px;
}


/* Показы */
.screeninigsControls{
  width: calc(100%);
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.carousel-indicators{
  color: black;
}
.controlsNext{
  width: 50px;
  height: 50px;
  background-image: url(../img/next.png);
  background-position: center;
  background-size: contain;
}
.controlsPrev{
  width: 50px;
  height: 50px;
  background-image: url(../img/prev.png);
  background-position: center;
  background-size: contain;
}
.wrapperScreenings{
  width: 100vw;
}
  #sonMu{
    background-image: url(../img/sonMu.jpg);
  }
  #doneck{
    background-image: url(../img/doneck.jpg);
  }
  #work{
    background-image: url(../img/work.jpg);
  }
  #after{
    font-size: 18px;
    font-weight: 500;
  }
  #after a{
    color: #ff8562;
    text-decoration: none;
  }
  #perm{
    background-image: url(../img/perm.jpg);
  }
  #tears{
    background-image: url(../img/tears.jpg);
  }
  #dreamers{
    background-image: url(../img/dreamers.jpg);
  }
  #war{
    background-image: url(../img/war.jpg);
  }
  #power{
    background-image: url(../img/power.jpg);
  }
  .screeningsText h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.55;
    margin-bottom: 30px;
  }
  .screeningsText p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.55;
    margin-bottom: 60px;
  }
  .wrapperPhotos{
    width: 100vw;
    padding: 50px 0;
    background-color: #171717;
  }



/* Отзывы о Опии */
.wrapperComments{
  padding-top: 80px;
}
.sectionComments{
  flex-flow: column;
  align-items: center;
  margin-bottom: 100px;
}
.sectionComments svg{
  margin-bottom: 50px;
}

.commentsBlock_author img{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 100%;
}
.commentsBlock_author h1{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}
.commentsBlock_author p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 6px;
  text-align: center;
}

/*  Галерея */
#sliderPhoto1{
  background-image: url(../img/slider/1.jpg);
}
#sliderPhoto2{
  background-image: url(../img/slider/2.jpg);
}
#sliderPhoto3{
  background-image: url(../img/slider/3.jpg);
}
#sliderPhoto4{
  background-image: url(../img/slider/4.jpg);
}
#sliderPhoto5{
  background-image: url(../img/slider/5.jpg);
}
#sliderPhoto6{
  background-image: url(../img/slider/6.jpg);
}


/*  Футер */
.wrapperFooter{
  padding-top: 50px;
}
.sectionFooter{
  flex-direction: column;
  align-items: center;
}
.sectionFooter img{
  width: 560px;
  transform: translateX(1%);
}

.footerSocial{
  width: 200px;
  display: flex;
  justify-content: center;
}
.footerSocial svg{
  margin: 40px 5px;
}
