@media (min-width:600px) and (max-width: 1023px){

  .rowMy{
    flex-wrap: wrap;
    max-width: 90%;
  }
  .rowx{
    flex-wrap: wrap;
    max-width: 90%;
  }
  .headSection h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: white;
  }
  .headSection p{
    weight: 500;
    font-size: 18px;
    line-height: 3;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  #whoMain{
    font-size: 20px;
  }
  #whoMain{
    margin-bottom: 40px;
    font-size: 19px;
  }
  .resultsCard{
    width: 40%;
    margin-bottom: 80px;
    padding: 5px;
  }
  .resultsCard p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
  .sectionScreenings{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
  }
  .sectionScreeningsImage{
    display: inline-block;
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
    padding-right: 15px;
  }
  .screeningsText{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
  }
  .commentsBlock{
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .commentsBlock_text{
    width: 70%;
  }
  .commentsBlock_author {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
  }
  .commentsBlock_text p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
  }
  .sectionFooter p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    text-align: center;
  }
}
