@import "styles";
@media (min-width: 1440px) {
  body{
      overflow: hidden;
  }
    .mainWrapperDesktop{
      box-sizing: content-box;
      width: 100vw;
      height: 100vh;
      position: relative;
    }
    #pochta{
      position: absolute;
      bottom: 50px;
      width: 1280px;
      text-align: right;
      font-family: 'PT Mono';
    }
    .bgHolder{
      width: 40vw;
      height: 100%;
      background-color: $blackBG;
      position: absolute;
      z-index: -2;
    }
    .bgWhiten{
      width: 100vw;
      height: 100vh;
      background-color: white;
      opacity: 0.4;
      position: absolute;
      z-index: -3;
    }
    .rowHead{
      margin: auto;
      width: 1280px;
      height: 100vh;
      display: flex;
      #focus{
        height: 100vh;
        position: absolute;
        z-index: -1;
      }
      #focusMobile{
        display: none;
      }
      #focusTablet{
        display: none;
      }
      #videoBG{
        left: 40%;
        width: 60%;
        height: 100vh;
        position: absolute;
        z-index: -5;
      }
      #videoPreview{
        left: 40%;
        width: 60%;
        height: 100vh;
        position: absolute;
        z-index: -3;
      }
    }
    #cameraMobile{
      display: none;
    }
    .infoSection{
      width: 400px;
      height: 100vh;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      #camera{
        top: 50%;
        transform: translateY(-2%);
        width: 400px;
      }
    }
    .logo{
      padding-top: 50px;
      h1{
        font-size: 100pt;
        color: white;
        font-family: 'PT Mono';
        margin-top: 5px;
      }
      h2{
        font-size: 12pt;
        color: white;
        font-family: 'PT Mono';
      }
    }
   .links{
     padding-bottom: 50px;
     span{
       font-family: 'PT Mono';
       font-size: 20pt;
       text-decoration: underline;
       color: white;
       padding: 5px 15px;
       line-height: 30pt;
       &:hover{
         text-decoration: none;
       }
       a{
         color: white;
         &:hover{
           text-decoration: none;
         }
         &:visited{
           color: white;
         }
       }
     }
    }
    .linksMobile{
      display: none;
    }
    .inFuture{
      position: relative;
      height: 100vh;
      width: 500px;
      margin-left: 300px;
      display: flex;
      justify-content: center;
      flex-flow: column;
      font-family: 'PT Mono';
        h3{
          font-size: 16pt;
          margin-top: 10px;
        }
        h2{
          font-size: 18pt;
          margin-bottom: 10px;
        }
        h1{
          font-size: 36pt;
          margin-top: 10px;
          margin-bottom: 5px;
        }
        p{
          margin-top: 10px;
          font-size: 13pt;
          line-height: 15pt;
        }
        .inFutureDates{
          display: flex;
          justify-content: space-between;
          margin-top: 40px;
          span{
            font-size: 24pt;
          }
        }
        .inFutureButtons{
          width: 67%;
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          a{
            text-decoration: none;
          }
          div{
            padding: 10px 20px;
            border: 3px solid $blackBG;
            border-radius: 100px;
            color: white;
            background-color: $blackBG;
            &:hover{
              background-color: white;
              color: black;
            }
          }
        }
    }
}
