@media (max-width: 321px) {
  body{
      overflow-x: hidden;
  }
  #focus{
    display: none;
  }
  #camera{
    display: none;
  }
  .links{
    display: none;
  }
  #pochta{
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'PT Mono';
    font-size: 10pt;
  }
  #videoBG{
    position: absolute;
    top: 40%;
    width: 100vw;
    height: 900px;
    z-index: -3;
  }
  .bgWhiten{
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 40%;
    width: 100vw;
    height: 900px;
    z-index: -2;
  }
  #focusTablet{
    display: none;
  }
  #focusMobile{
    position: absolute;
    z-index: -1;
    svg{
      height: 100%;
    }
  }
  #cameraMobile{
    position: absolute;
    width: 20%;
    right: 50%;
    top: 41%;
    transform: translateX(50%);
  }
  .infoSection{
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    .logo{
      width: 80vw;
      h1{
        text-align: center;
        font-family: 'PT Mono';
        font-size: 60pt;
        color: white;
      }
      h2{
        text-align: center;
        font-family: 'PT Mono';
        font-size: 7pt;
        color: white;
        padding-top: 30px;
      }
      .linksMobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: -5px;
        span{
          font-family: 'PT Mono';
          font-size: 12pt;
          text-decoration: underline;
          color: white;
          padding: 5px 15px;
          line-height: 30pt;
          &:hover{
            text-decoration: none;
          }
          a{
            color: white;
            &:hover{
              text-decoration: none;
            }
            &:visited{
              color: white;
            }
          }
        }
      }
    }
  }
  .inFuture{
    margin: 90% auto 20% auto;
    width: 90vw;
    font-family: 'PT Mono';
    h2{
      font-size: 16pt;
    }
    h1{
      margin-top: 10px;
      font-size: 24pt;
      margin-bottom: 5px;
    }
    p{
      margin-top: 20px;
      font-size: 12pt;
    }
    h3{
      margin-top: 10px;
      font-size: 14pt;
    }
    .inFutureDates{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      span{
        font-size: 16pt;
      }
    }
    .inFutureButtons{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      a{
        text-decoration: none;
      }
      div{
        font-size: 12pt;
        padding: 10px 15px;
        border: 3px solid $blackBG;
        border-radius: 100px;
        color: white;
        background-color: $blackBG;
        &:active{
          background-color: white;
          color: black;
        }
      }
    }
  }
}
