@media (max-width: 767px) {
  body{
      overflow-x: hidden;
  }
  .mainWrapperDesktop{
    height: 1300px;
  }
  #focus{
    display: none;
  }
  .links{
    display: none;
  }
  #camera{
    display: none;
  }
  #videoBG{
    display: none;
  }
  #cameraMobile{
    position: absolute;
    width: 20%;
    right: 50%;
    top: 240px;
    transform: translateX(45%);
  }
  #focusTab{
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: -1;
  }
  #videoHolder{
    background-image: url(../img/bg.png);
    position: absolute;
    top: 40%;
    width: 100vw;
    height: 1170px;
    z-index: -3;
    background-size: cover;
    background-position: center;
  }
  #pochta{
    width: 100%;
    text-align: center;
    font-family: 'PT Mono';
    margin-top: 20px;
    font-size: 12pt;
  }
  .bgWhiten{
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 40%;
    width: 100vw;
    height: 1170px;
    z-index: -2;
  }

  .infoSection{
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    .logo{
      width: 90vw;
      h1{
        text-align: center;
        font-family: 'PT Mono';
        font-size: 70pt;
        color: white;
      }
      h2{
        text-align: center;
        font-family: 'PT Mono';
        font-size: 8pt;
        color: white;
        padding-top: 30px;
      }
      .linksMobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        span{
          font-family: 'PT Mono';
          font-size: 16pt;
          text-decoration: underline;
          color: white;
          padding: 5px 15px;
          line-height: 30pt;
          &:hover{
            text-decoration: none;
          }
          a{
            color: white;
            &:hover{
              text-decoration: none;
            }
            &:visited{
              color: white;
            }
          }
        }
      }
    }
  }
  .inFuture{
    margin: 400px auto 20% auto;
    width: 80vw;
    font-family: 'PT Mono';
    h2{
      font-size: 14pt;
    }
    h1{
      margin-top: 30px;
      font-size: 20pt;
      margin-bottom: 10px;
    }
    p{
      margin-top: 20px;
      font-size: 12pt;
    }
    h3{
      margin-top: 10px;
      font-size: 14pt;
    }
    .inFutureDates{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
      span{
        padding: 0 20px;
        font-size: 18pt;
      }
    }
    .inFutureButtons{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      a{
        text-decoration: none;
      }
      div{
        font-size: 10pt;
        padding: 5px 10px;
        border: 3px solid $blackBG;
        border-radius: 100px;
        color: white;
        background-color: $blackBG;
        &:active{
          background-color: white;
          color: black;
        }
      }
    }
  }
  .aboutUs{
    width: 100vw;
  }
  .rowX{
    width: 100vw;
    margin: 0 auto;
    display: flex;
  }
  #caption{
    font-size: 10pt;
    margin-bottom: 0px;
  }
  .whoIs{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    h2{
      display: inline;
      padding: 5px 20px;
      font-size: 14pt;
      background-color: $blackBG;
      color: white;
      font-family: 'PT Mono';
      transform: translateY(70%);
    }
    .whoIsBlock{
      display: flex;
      flex-flow: column;
      align-items: center;
      border-top: 2px solid $blackBG;
      border-bottom: 2px solid $blackBG;
      padding: 30px 0px 20px 0px;
      width: 70%;
      p{
        font-family: 'PT Mono';
        font-size: 12pt;
        line-height: 1.3;
        margin-bottom: 10px;
        span{
          font-size: 14pt;
        }
      }
    }
  }
  .wrapperBlack{
    width: 100vw;
    background-color: $blackBG;
  }
  .heading{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    h1{
      display: inline;
      font-size: 30pt;
      font-family: 'PT Mono';
      color: white;
      margin: 0 auto;
    }
    h2{
      width: 80%;
      display: inline;
      font-size: 12pt;
      font-family: 'PT Mono';
      color: white;
      margin: 0 auto;
      text-align: center;
    }
  }
  .results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 60px 0 40px 0;
    .resultsCard{
      width: 60%;
      margin-bottom: 40px;
      h1{
        font-family: 'PT Mono';
        font-size: 18pt;
      }
      .lineBlack{
        margin: 5px 0px;
        border-top: 2px solid $blackBG;
      }
      p{
        font-size: 10pt;
        line-height: 1.3;
        font-family: 'PT Mono';
      }
    }
  }
  .sliderShowsDesktop{
    display: none;
  }
  .sliderShowsMobile{
    padding: 70px 0 150px 0;
    display: flex;
    align-items: center;
    flex-flow: column;
      .sliderItem{
        width: 80%;
        margin: 50px auto;
        font-family: 'PT Mono';
        display: flex;
        flex-flow: column;
        align-items: center;
        .sliderText{
          width: 100%;
          h1{
            font-size: 16pt;
            margin-bottom: 10px;
            line-height: 1.2;
          }
          h2{
            font-size: 14pt;
            margin-bottom: 10px;
            line-height: 1.2;
          }
          p{
            font-size: 12pt;
            margin-top: 10px;
            line-height: 1.3;
          }
          div{
            font-size: 12pt;
            margin-top: 50px;
            a{
              text-decoration: none;
              color: orange;
              &:hover{
                color: orange;
              }
              &:visited{
                color: orange;
              }
            }
          }
        }
        .sliderImage{
          height: 500px;
          width: 100%;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        #sonMu{
          background-image: url(../img/slider/sonMu.jpg);
        }
        #work{
          background-image: url(../img/slider/work.jpg);
        }
        #doneck{
          background-image: url(../img/slider/doneck.jpg);
        }
        #perm{
          background-image: url(../img/slider/perm.jpg);
        }
        #tears{
          background-image: url(../img/slider/tears.jpg);
        }
        #power{
          background-image: url(../img/slider/power.jpg);
        }
        #war{
          background-image: url(../img/slider/war.jpg);
        }
        #dreamers{
          background-image: url(../img/slider/dreamers.jpg);
        }
      }
    }
  .comments{
    padding: 50px 0;
    display: flex;
    flex-flow: column;
    .commentBlock{
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 90%;
      margin: 40px auto 100px auto;
      .commentSection{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 40px;
        .commentText{
          width: 100%;
          p{
            font-family: 'PT Mono';
            font-size: 12pt;
            line-height: 1.5;
          }
        }
        .commentAuthor{
          margin-top: 40px;
          font-family: 'PT Mono';
          display: flex;
          align-items: center;
          flex-flow: column;
          img{
            width: 100px;
            height: 100px;
            border: 1px solid rgba(0,0,0,0);
            border-radius: 100%;
          }
          h1{
            margin-top: 20px;
            font-size: 10pt;
          }
          h2{
            font-size: 8pt;
          }
        }
      }
    }
}
.linkBottom{
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  a{
    color: black;
    text-decoration: underline;
    &:active{
      color: black;
      text-decoration: none;
    }
  }
}
}
