@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');
@font-face {
    font-family: 'andale';
    src: url('fonts/andalemo_0-webfont.woff2') format('woff2'),
         url('fonts/andalemo_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes bgChange {
    0% {background-color: black; color: white;}
    100% {border: solid 2px white; background-color: white; color: black;}
}

$blackBG: #22242B;
