@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');
@font-face {
    font-family: 'andale';
    src: url('fonts/andalemo_0-webfont.woff2') format('woff2'),
         url('fonts/andalemo_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$blackBG: #22242B;
